<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WishList Login &amp; Reg</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    </script>
  </head>
  <style>
  *{
    box-sizing: border-box;
    font-family: sans-serif;
  }
  input[type='submit']{
    margin-top: 10px;
    border: 1px solid teal;
    border-radius: 4px;
    background-color: teal;
    padding: 4px;
    color: white;
  }
  form {
    width: 90%;
    margin: 0 auto;
  }
  h2 {
    width: 90%;
    margin: 10px auto;
    margin-top: 24px;
  }
  </style>
  <body>
    
    <h2>Register</h2>
    <form action="/register" method="POST" class="register">
      {%csrf_token%}
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
     {% endif %}
      <p>Email:</p><input type="email" name="email">
      <p>First Name:</p><input type="text" name="first_name">
      <p>Last Name:</p><input type="text" name="last_name">
      <p>Username:</p><input type="text" name="username">
      <p>Password:</p><input type="text" name="password">
      <p>Confirm Password:</p><input type="text" name="conf_password">
      <p>Date Hired: <input type="text" id="datepicker" name='hired'></p>
      <a href="/register"><input type="submit" name="register" value="REGISTER"></a>
    </form>
    <h2>Login</h2>
    <form action="/login" method="POST" class="login">
        {%csrf_token%}
        <p>Username:</p><input type="text" name="username">
        <p>Password:</p><input type="text" name="password"><br>
        <a href="/login"><input type="submit" name="login" value="LOGIN"></a>
    </form>
  </body>
</html>
